<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>foo技术分享</title>
    <meta name="description" content="技术分享渠道" />
    <meta name="keywords" content="Foolish,tech,nlp,blog,自然语言处理,MachineLearning,机器学习,神经网络,增强学习">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<link rel="shortcut icon" href="/favicon.ico">-->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="https://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">

    <!--引入css文件-->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <link rel="canonical" href="http://www.foolish.tech" />
    <meta name="referrer" content="origin" />
</head>


<body>
{% block header %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
</body>

</html>