{% extends 'headerAndFooter.html' %}

{% block content %}
<main class="col-md-8 main-content">

    {% block tag_info %}{% endblock %}

    {% for article in articles %}
    <article id=109 class="post">

        <div class="post-head">
            <h1 class="post-title"><a href="/article/{{ article.id }}">{{ article.title }}</a></h1>
            <div class="post-meta">
                <time class="post-date" datetime="{{ article.pub_time }}" title="{{ article.pub_time }}">{{ article.pub_time }}</time>
            </div>
        </div>
        <div class="featured-media">
            <a href="/article/{{ article.id }}"><img src="http://static.ghostchina.com/image/c/06/765c76cb1ca259dd8fe8002459bbc.jpg" alt="。。。"></a>
        </div>
        <div class="post-content">
            <p>{{ article.summery }}</p>
        </div>
        <div class="post-permalink">
            <a href="/article/{{ article.id }}" class="btn btn-default">阅读全文</a>
        </div>

        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                <i class="fa fa-folder-open-o"></i>
                {% for tag in article.tags %}
                    <a href="/tag/{{ tag.name }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <div class="pull-right share">
            </div>
        </footer>
    </article>
    {% endfor %}

    {% if total_page %}
    <nav class="pagination" role="navigation">
        {% if now_page_num-1 %}
        <a class="older-posts" href="?page={{now_page_num - 1}}"><i class="fa fa-angle-left"></i></a>
        {% endif %}
        <span class="page-number">第 {{ now_page_num }} 页 &frasl; 共 {{ total_page }} 页</span>
        <a class="older-posts" href="?page={{now_page_num + 1}}"><i class="fa fa-angle-right"></i></a>
    </nav>
    {% endif %}
</main>
{% endblock %}
