<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="/static/favicon.ico">
  {% block htmlhead %}
  <title>{% block title %}Home{% endblock %} | {{ config.AUTHOR }}的博客</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
  {% endblock %}
  </head>
  <body>
    <div class=container>
      <div class=header>
          <a href="/about">{{ config.AUTHOR }}</a>的博客
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/">所有博文</a>
          <li><a href="/tags">标签</a>
          <li><a href="/links">链接</a>
          <li><a href="/about">关于我</a>
        </ul>
      </div>
      <div class=body>
        {% block body %}{% endblock %}
        <!--
        <div class=adspace>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:inline-block;width:728px;height:90px"
               data-ad-client="ca-pub-6757320953560275"
               data-ad-slot="8324866143"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        -->
      </div>
      <div class=footer>
        <!--<p>&copy; Copyright 2015 by Rong.-->
        <p>
        文章版权归作者所有，转载请标明作者及链接
        <p>
          联系我 <a href="mailto:L_zejie@163.com">邮箱</a>,
          <a href="https://github.com/Lzejie" target="_blank">github</a>.
        <p>
        <!--<a>Subscribe</a> this blog.
        -->
      </div>
    </div>
  </body>
</html>
